<div>
  <mat-toolbar class="bg-slate-900">
    <img src="" alt="Icon SpotiApp" width="50" height="50" />
    <div class="rounded-lg ml-2">
      <a class="mx-2 no-underline text-rose-500 p-2 rounded-lg">Home</a>
    </div>
    <div class="rounded-lg">
      <a class="mx-0.5 no-underline text-rose-500 p-2 rounded-lg">Heroes</a>
    </div>
    <div class="rounded-lg">
      <a class="mx-0.5 no-underline text-rose-500 p-2 rounded-lg">About</a>
    </div>

    <span class="example-spacer"></span>

    <input class="h-6 rounded mr-2" type="text" placeholder="Buscar Heroe" />
    <button
      mat-icon-button
      type="button"
      class="example-icon hover:bg-slate-800 duration-500"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon class="text-white">search</mat-icon>
    </button>
  </mat-toolbar>
</div>
