<div
  class="grid grid-cols-1 min-[820px]:grid-cols-3 gap-[50px] mt-4 animated fadeIn mt-8"
>
  <div (click)="verArtista(item)" *ngFor="let item of items" class="puntero">
    <mat-card class="max-w-[400px] mx-auto">
      <mat-card-header>
        <mat-card-title class="text-black">{{ item.name }} </mat-card-title>
        <mat-card-subtitle>
          <button
            *ngFor="let artista of item.artists"
            class="mb-2 mr-2 p-6"
            mat-raised-button
            color="primary"
            matBadge="8"
            matBadgePosition="before"
            matBadgeColor="accent"
          >
            {{ artista.name }}
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <img
        height="auto"
        mat-card-image
        [src]="item.images | noimage"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
